{% for element in elements %}
  <tr>
    <td style="overflow:hidden;text-align:center;">{{ forloop.counter }}</td>
    <td style="overflow:hidden;">{{ element.element }}</td>
    <td style="overflow:hidden;">{{ element.description }}</td>

    <td style="white-space:nowrap;">
      <button style="color:black;" class="btn btn-block btn-info btn-xs"  onclick="window.location.href='{% url 'group_list' element.id %}'">
      <span class="fa fa-eye"></span>Groups
      </button>

    </td>


  </tr>


{% endfor %}