{% extends 'accounts/base.html' %}

{% block content %}
{% load static %}
	<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap3-typeahead.js' %}">
    <link rel="stylesheet" href="{% static 'js/datatables.min.js' %}">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
<!-- icon css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<style>
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

</style>
<!-- Select checkbox CSS-->

<!------------------------------ body ----------------------------->
<br>
<h1 class="page-header"><span class="fa fa-home" ></span>Company Manage List <br>
</h1>
<hr>
<!-- Button Add New Company -->
<button class="btn btn-block btn-primary btn-sm show-form"style="float:right;width:20%;"onclick="window.location.href='{% url 'company_create' %}'">
    <span class="fa fa-fw fa-plus"></span> New Company
  </button>
<br><hr>
<!----------- Table--------------->
        {% csrf_token %}
  <table class="table table-striped table-bordered" id="company-table" width="100%" >
    <thead>
      <tr>
        <th width="5%" style="text-align:center;" >#
        </th>
        <th width="45%" >Company
        </th>
        <th class="th-sm" style="text-align:center;" width="20%">Action
        </th>

      </tr>
    </thead>
    <tbody>
     {% for a in list %}
  <tr>
    <td class="data">{{ forloop.counter }}</td>
    <td class="data">{{ a.company }}</td>
    <td class="item" style="white-space:nowrap;">
  <button style="display:inline;width:33%;color:black;" class="btn btn-block btn-info btn-xs" onclick="window.location.href='{% url 'project_list' a.id %}'">
      <span class="fa fa-eye"></span>View
      </button>
      <button type="button" style="display:inline;width:33%;color:black;margin-top:0.5px;" class="btn btn-block btn-warning btn-xs" onclick="window.location.href='{% url 'company_edit' a.id %}'">
          <span class="fa fa-edit"></span>Edit</button>
       <a onclick="return confirm('Are you sure you want to delete this? \n Warning This may cause other data loss!!!')" href="{% url 'company_delete' a.id %}"> <button type="button" style="display:inline;width:33%;color:black;margin-top:0.5px;" class="btn btn-block btn-danger btn-xs">
          <span class="fa fa-edit"></span>Delete</button></a>
    </td>

  </tr>
  {% empty %}
        <tr><td colspan="5">Currently no Data Available</td></tr>
    {% endfor %}
    </tbody>
  </table>


<br><br><br><br><br><br><br>


<!------------ End body--------------------- -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'dist/js/demo.js' %}"></script>

<script>
$(document).ready(function() {
    $('#company-table').DataTable( {
        "scrollY":        "430px",
        "scrollCollapse": true,
        "paging":         false,
        "info": false,
        "columnDefs": [ {
        "targets": [3],
        "orderable": false} ]
    });
 }
);
</script>
{% endblock %}

