{% extends 'object/base_kent.html' %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 class="page-header"><span class="fa fa-home" ></span>Project Manage List <br></h1>
<br><br><br>
<form  method="post" >
        {% csrf_token %}
      {{form.as_p}}
	  <button onclick="goBack()"class="btn btn-default">Go Back</button>
    <button type="submit" class="btn btn-primary" >Save Changes</button>

</form>
            </div>
		  </div>
        </div>


<script>
function goBack() {
  window.history.back();
}
</script>


{% endblock %}

