{% extends 'object/base_kent.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


<div class="content-wrapper" style="margin-left:0">

  <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Project List</h1>
              <button class="1" ><a href="{% url 'unit_list' %}">Show Unit</a></button>
<button class="2"><a href="{% url 'phase_list' %}">Show Phase</a></button>
<button class="3"><a href="{% url 'project_list' %}">Show Project</a></button>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">

            <!-- /.card-header -->

            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with default features</h3>
<button style="position: absolute;right: 50px; padding:3px; " type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default" >
                  Add New Project
                </button>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>No</th>
    <th>Project Name</th>
    <th>Company</th>
    <th>Phase</th>
    <th>Block</th>
    <th>Level</th>
    <th>Unit Number</th>
                </tr>
                </thead>
                <tbody>
                 {% for a in project %}
  <tr>
    <td>{{ a.id }}</td>
    <td>{{ a.project_description }}</td>
      <td>{{a.company}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="{% url 'project_edit' a.id %}"><button type="button" class="btn btn-block btn-success">Edit</button></a>
  <button class="btn btn-danger form-control" >DELETE</button>

  </tr>
{% endfor %}
                </tbody>

              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.0.2
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="http://huayang.com.my/main/">HuaYang</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
<!--Pop Up Add project -->
 <div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Default Modal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
<form  method="post" >
        {% csrf_token %}
      {{add_project.as_p}}
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" >Add</button>

</form>
            </div>
		  </div>
        </div>
      </div>
<!--Pop Up delete project -->


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

{% endblock %}
