
{% for a in unit %}
  <tr>
    <td class="data">{{ forloop.counter }}</td>

    <td class="data">{{ a.phase_id.phase_description }}</td>

      <td class="data">{{ a.block }}</td>
      <td class="data">{{ a.level }}</td>
       <td class="data">{{ a.unit_number }}</td>
    <td style="white-space:nowrap;">
       <button  style="display:inline;width:50%" class="btn btn-block btn-warning btn-xs show-form-update" data-url="#" >
        <span class="fas fa-edit"></span>Edit
      </button>
        <button  style="display:inline;width:50%;margin-bottom:8px" class="btn btn-block btn-danger btn-xs show-form-delete" data-url="#" >
      <span class="fa fa-fw fa-trash"></span>Delete
      </button></td>


  </tr>
  {% empty %}
        <tr><td colspan="5">Currently no Data Available</td></tr>



    {% endfor %}

