{% extends 'elements/base.html' %}

{% block content %}
{% load static %}
	<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap3-typeahead.js' %}">
    <link rel="stylesheet" href="{% static 'js/datatables.min.js' %}">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}


            .dropdown-submenu> a:after {
                content: "";

            }


            .dropdown-submenu:hover>.dropdown-menu {
                display: block;
            }
             .scrollable-menu {
      height: auto;
      max-height: 200px;
      overflow-x: hidden;
    }
</style>
    <br>
<!-- drop down project -->
<h1 class="page-header"><span class="fa fa-home" ></span>Project Manage List <br>
    <div class="btn-group" >
        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" href="">
            Choose Project
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            {% for b in c %}
            <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="#">
                    {{ b.company }}
                </a>
                <ul class="dropdown-menu scrollable-menu">
                    {% for e in b.project_set.all %}
                    <li><a class="dropdown-item" tabindex="-1" href="{% url 'project_main_list' e.id %}">{{ e.project_description }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown-divider"></li>
            {% endfor %}
        </ul>
    </div>
          <!-- add project button -->
        <button class="btn btn-block btn-primary btn-sm show-form" data-toggle="modal" data-target="#modal-add_project" style="float:right;width:20%;">
    <span class="fa fa-fw fa-plus"></span> New Project
  </button></h1>
<!-- display current web which project -->
<hr>
    <p style="width:34.5%;margin:0;display:inline;float:left"><strong>COMPANY</strong></p>
    <p style="margin:0;display:inline:float:right"><strong>:</strong>{{ page_title.company_id.company }}</p>
    <p style="width:34.5%;margin:0;display:inline;float:left"><strong>PROJECT NAME</strong></p>
    <p style="margin:0;display:inline:float:right"><strong>:</strong>{{ page_title.project_description }}</p>
<!-- Button Add New Phase -->
<button class="btn btn-block btn-primary btn-sm show-form" data-toggle="modal" data-target="#modal-add_phase" style="float:right;width:20%;">
    <span class="fa fa-fw fa-plus"></span> New Phase
  </button>
    <p style="width:34.5%;margin:0;display:inline;float:left"><strong>PHASE</strong></p>
    <p style="margin:0;display:inline:float:right"><strong>:</strong></p>


{% if page_title_project != None %}
  <button  style="display:inline;width:10%;margin-bottom:8px;" class="btn btn-block btn-danger btn-xs show-form-delete" data-url="{% url 'project_delete' page_title_project.id %}" >
      <span class="fa fa-fw fa-trash"></span>Delete
      </button>
{% else %}
<p></p>
{% endif %}
</hr>
<!-- List table -->
  <table class="table table-striped table-bordered" id="phase-table" width="100%">

    <thead>
      <tr>
        <th width="5%" style="text-align:center;" >#</th>
        <th width="30%" >Phase</th>
        <th width="30%" >Description</th>


        <th class="th-sm" style="text-align:center;" width="35%">Action
          </th>
      </tr>
    </thead>
    <tbody>
      {% include "object/phase_list.html" %}
    </tbody>
    <tfoot>
      <tr>
        <th width="5%" style="text-align:center;" id="no-sort">#</th>
        <th width="30%" >Phase</th>
        <th width="30%" >Description</th>


        <th class="th-sm" style="text-align:center;" width="35%">Action
          </th>
      </tr>
    </tfoot>
  </table>
<br><br><br><br><br><br><br>
<!----POP UP ADD PROJECT-->
 <div class="modal fade" id="modal-add_project" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Default Modal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
<form  method="post" >
        {% csrf_token %}
      {{add_project.as_p}}
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" >Add</button>

</form>
            </div>
		  </div>
        </div>
      </div>
<!----POP UP ADD PHASE-->
 <div class="modal fade" id="modal-add_phase" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Default Modal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
<form  method="post" >
        {% csrf_token %}
      {{add_phase.as_p}}
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" >Add</button>

</form>
            </div>
		  </div>
        </div>
      </div>



<!-- drop down menu script -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
$(".btn-group, .dropdown").hover(
                        function () {
                            $('>.dropdown-menu', this).stop(true, true).fadeIn("fast");
                            $(this).addClass('open');
                        },
                        function () {
                            $('>.dropdown-menu', this).stop(true, true).fadeOut("fast");
                            $(this).removeClass('open');
                        });
 </script>
<!-- --------------------- -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'dist/js/demo.js' %}"></script>

<script>
$(document).ready(function() {
    $('#phase-table').DataTable( {
        "scrollY":        "430px",
        "scrollCollapse": true,
        "paging":         false,
        "info": false,
        "columnDefs": [ {
        "targets": [3],
        "orderable": false} ]
    });
 }
);
</script>




{% endblock %}

