{% for question in questions %}
  <tr>
    <td style="overflow:hidden;text-align:center;">{{ forloop.counter }}</td>
    <td style="overflow:hidden;">{{ question.question }}</td>
    <td align="center" >
      {% if forloop.first %}
      <a href="{% url 'move_down' question.id %}"> <button type="button" style="display:inline;width:44.5%;margin-bottom:8px;color:black;margin-left:0px;" class="btn bg-olive margin"><span class="fa  fa-sort-desc"></span></button></a>
      {% elif forloop.last %}
      <a href="{% url 'move_up' question.id %}"> <button type="button" style="display:inline;width:44.5%;margin-bottom:8px;color:black;margin-left:0px;" class="btn bg-olive margin"><span class="fa  fa-sort-up"></span></button></a>
        {% else %}
      <a href="{% url 'move_up' question.id %}"> <button type="button" style="display:inline;width:44.5%;margin-bottom:8px;color:black;margin-left:0px;" class="btn bg-olive margin"><span class="fa fa-sort-up"></span></button></a>
      <a href="{% url 'move_down' question.id %}"> <button type="button" style="display:inline;width:44.5%;margin-bottom:8px;color:black;margin-left:0px;" class="btn bg-olive margin"><span class="fa  fa-sort-desc"></span></button></a>
      {% endif%}
    </td>
    <td style="white-space:nowrap;">
       <button style="display:inline;width:40%;margin-bottom:8px;color:black;margin-left:20px;" class="btn btn-block btn-warning btn-xs show-form-update" data-url="{% url 'question_update' question.id %}">
        <span class="fa fa-edit"></span>Edit
      </button>
        <button  style="display:inline;width:40%;margin-bottom:15px;color:black;margin-right:20px" class="btn btn-block btn-danger btn-xs show-form-delete"  data-url="{% url 'question_delete' question.id %}">
      <span class="fa fa-fw fa-trash"></span>Delete
      </button>
    </td>

  </tr>

<style>
  .btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
</style>
{% endfor %}