{% for element in elements %}
  <tr>
    <td style="text-align:center;">{{ forloop.counter }}</td>
    <td>{{ element.element }}</td>
    <td>{{ element.description }}</td>

    <td style='white-space: nowrap;'>
       <button style="display:inline;width:50%;float:center" class="btn btn-block btn-warning btn-xs show-form-update" data-url="{% url 'element_update' element.id %}" >
       <span class="glyphicon glyphicon-pencil"></span>Edit
      </button>
        <button style="display:inline;width:50%;" class="btn btn-block btn-danger btn-xs show-form-delete" data-url="{% url 'element_delete' element.id %}" >
      <span class="glyphicon glyphicon-trash"></span>
      Delete
      </button></td>

  </tr>
{% empty %}
  <tr>
    <td colspan="4" class="text-center bg-warning">No element</td>
  </tr>
{% endfor %}