{% for group in groups %}
  <tr>
    <td style="text-align:center;">{{ forloop.counter }}</td>
    <td>{{ group.defect_group }}</td>
    <td>{{ group.description }}</td>
    <td>{{ group.element_id }} </td>

    <td style='white-space: nowrap;' >
      <button style="display:inline;width:50%;float:center" class="btn btn-block btn-warning btn-xs show-form-update" data-url="{% url 'group_update' group.id %}">
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
      </button>
       <button style="display:inline;width:50%;" class="btn btn-block btn-danger btn-xs show-form-delete" data-url="{% url 'group_delete' group.id %}">
      <span class="glyphicon glyphicon-trash"></span>
      Delete
      </button>
    </td>

  </tr>
{% empty %}
  <tr>
    <td colspan="5" class="text-center bg-warning">No Defect Group</td>
  </tr>
{% endfor %}