{% extends 'elements/base.html' %}

{% block content %}
{% load static %}
	<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap3-typeahead.js' %}">
    <link rel="stylesheet" href="{% static 'js/datatables.min.js' %}">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="{% static 'js/plugin2.js' %}"></script>

    <br>

    <h1 class="page-header"><span class="fa fa-home" ></span></a>FORM TYPES <button id="form2" class="btn btn-block btn-primary btn-sm show-form" data-url="{% url 'form_type_create' %}" style="float:right;width:20%;">
   <span class="fa fa-fw fa-plus"></span> New_Type
  </button></h1>
  <hr>

  <table class="table table-striped table-bordered" id="type-table" width="100%">
    <thead>
      <tr>
        <th style="text-align:center;">#</th>
        <th>Type </th>
        <th>Description</th>
        <th style="text-align:center;">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for type in types %}
  <tr>
    <td style="overflow:hidden;text-align:center;">{{ forloop.counter }}</td>
    <td style="overflow:hidden;">{{ type.form_type }}</td>
    <td style="overflow:hidden;">{{ type.form_description }}</td>

    <td style="white-space:nowrap;">
      <button  style="display:inline;width:32%;color:black;" class="btn btn-block btn-info btn-xs"  onclick="window.location.href='{% url 'group_list' element.id %}'">
      <span class="fas fa-eye"></span>View
      </button>

       <button  style="display:inline;width:32%;margin-bottom:8px" class="btn btn-block btn-warning btn-xs show-form-update" data-url="{% url 'element_update' element.id %}" >
        <span class="fas fa-edit"></span>Edit
      </button>

        <button  style="display:inline;width:35%;margin-bottom:8px;color:black;" class="btn btn-block btn-danger btn-xs show-form-delete" data-url="{% url 'element_delete' element.id %}" >
      <span class="fa fa-fw fa-trash"></span>Delete
      </button></td>

  </tr>
{% endfor %}
    </tbody>
  </table>

  <div class="modal fade in" id="modal-type">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'dist/js/demo.js' %}"></script>


<script>
$(document).ready(function() {
    $('#type-table').DataTable( {
        "scrollY": 430,
        "scrollX": true,
        "scrollCollapse": false,
        "paging":false,
        "info": false,
        "columnDefs": [ {
        "targets": [3],
        "orderable": false} ]
    });
 }
);
</script>
{% endblock %}

