{% extends 'elements/base.html' %}

{% block content %}
{% load static %}
	<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap3-typeahead.js' %}">
    <link rel="stylesheet" href="{% static 'js/datatables.min.js' %}">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <br>

    <h1 class="page-header"><span class="fa fa-home" ></span></a>FORM TYPES <button id="form2" class="btn btn-block btn-primary btn-sm show-form" data-url="{% url 'form_type_create' %}" style="float:right;width:20%;">
   <span class="fa fa-fw fa-plus"></span> New_Type
  </button></h1>
  <hr>

  <table class="table table-striped table-bordered" id="type-table" width="100%">
    <thead>
      <tr>
        <th style="text-align:center;">#</th>
        <th>Type </th>
        <th>Form Short Description</th>
        <th style="text-align:center;">Action</th>
      </tr>
    </thead>
    <tbody>
    {% include "forms/form_type_2.html" %}
    </tbody>
  </table>

  <div class="modal fade in" id="modal-type">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>


<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'dist/js/demo.js' %}"></script>


<script>
$(document).ready(function() {
    $('#type-table').DataTable( {
        "scrollY": 430,
        "scrollX": true,
        "scrollCollapse": false,
        "paging":false,
        "info": false,
        "columnDefs": [ {
        "targets": [3],
        "orderable": false} ]
    });
 }
);
</script>
{% endblock %}

