{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

	<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap3-typeahead.js' %}">
    <link rel="stylesheet" href="{% static 'js/datatables.min.js' %}">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
#element-table_filter{
float:right;
margin-right:20px;
}
table th {
  table-layout: fixed;
}
table th {
  word-wrap: break-word;
}
</style>
    <br>
    <a href="{% url 'form_type' number.id %}"><button style="float:right;width:23%;margin-right:20px;margin-top:17px;" class="btn btn-block btn-default btn-sm"><span class="fa fa-angle-double-left" > Back</span></button></a><br><br>
    <button style="float:right;width:23%;margin-right:20px;margin-top:20px;" class="btn btn-block btn-info btn-sm show-form-update"  onclick="window.location.href='{% url 'form_type_update' type.id %}'" ><span class="fa fa-edit"></span> Edit Form Type</button>
    <h1 class="page-header">SUMMARY OF {{ type.form_description }} LIST</h1>

<hr>


<button id="element_form" class="btn btn-block btn-primary btn-sm show-form"  style="float:right;width:23%;margin-right:20px;" data-url="{% url 'template_create' type.id %}">
   <span class="fa fa-fw fa-plus"></span>Add_New
  </button>
  <table class="table table-striped table-bordered" id="element-table" width="100%">
    <thead>
      <tr>
        <th style="text-align:center;">REF NO</th>
        <th>REV</th>
        <th>FORMs</th><th>REMARKS</th>
        <th style="text-align:center;">Action</th>
      </tr>
    </thead>
    <tbody>
      {% include "forms/form_list_2.html" %}
    </tbody>
  </table>

  <div class="modal fade in" id="modal-element" >
    <div class="modal-dialog" >
      <div class="modal-content"></div>
    </div>
  </div>
<br><br><br>

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'dist/js/demo.js' %}"></script>

<script>
$(document).ready(function() {
    $('#element-table').DataTable( {
        "scrollY": 430,
        "scrollX": true,
        "scrollCollapse": true,
        "paging":false,
        "info": false,
        "columnDefs": [ {
        "targets": [4],
        "orderable": false} ]
    });
 }
);

</script>

{% endblock %}


